[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy-boto3 = "*"
mypy-boto3-logs = "*"
boto3-stubs = {extras = ["logs"],version = "*"}
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
vcrpy = "*"

[packages]
requests = "*"
boto3 = "*"
toml = "*"
validators = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
