interactions:
- request:
    body: '{"Name": "/nessus/access_key", "WithDecryption": true}'
    headers:
    method: POST
    uri: https://ssm.eu-west-2.amazonaws.com/
  response:
    body:
      string: '{"Parameter":{"ARN":"arn:aws:ssm:eu-west-2:000000000000:parameter/nessus/access_key","DataType":"text","LastModifiedDate":1.58878081434E9,"Name":"/nessus/access_key","Type":"SecureString","Value":"ACCESS_KEY","Version":34}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      x-amzn-RequestId:
      - 8fa58eab-ac83-492b-a207-9e774e1e4015
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://localhost:8834/scans/1289
  response:
    body:
      string: '{"info": {"targets": "www.gov.uk"}, "name": "The nightmare before nessus"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Authorization required
version: 1
