interactions:
- request:
    body: '{"Name": "/nessus/access_key", "WithDecryption": true}'
    headers:
    method: POST
    uri: https://ssm.eu-west-2.amazonaws.com/
  response:
    body:
      string: '{"Parameter":{"ARN":"arn:aws:ssm:eu-west-2:000000000000:parameter/nessus/access_key","DataType":"text","LastModifiedDate":1.58878081434E9,"Name":"/nessus/access_key","Type":"SecureString","Value":"ACCESS_KEY","Version":34}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      x-amzn-RequestId:
      - 8fa58eab-ac83-492b-a207-9e774e1e4015
    status:
      code: 200
      message: OK
- request:
    body: '{"Name": "/nessus/secret_key", "WithDecryption": true}'
    headers:
    method: POST
    uri: https://ssm.eu-west-2.amazonaws.com/
  response:
    body:
      string: '{"Parameter":{"ARN":"arn:aws:ssm:eu-west-2:000000000000:parameter/nessus/secret_key","DataType":"text","LastModifiedDate":1.58878081439E9,"Name":"/nessus/secret_key","Type":"SecureString","Value":"SECRET_KEY","Version":33}}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      x-amzn-RequestId:
      - 039a72ab-8061-4a1b-aac5-da0880e77f25
    status:
      code: 200
      message: OK
version: 1
